.Card {
    padding: 10%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 8px 0px #999;
    background-color: #FFFF;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
}

.Card-Content > h4 {
    margin: 5% 0 0 0;
    font-size: 1.25rem;
    color: #474747;
    letter-spacing: 0.05em;
}

.Card-Content > h6 {
    color: #8d8d8d;
    line-height: 1.5em;
    font-size: 1rem;
    font-weight: 400;
    margin-top:1em;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 90%;
}

.Card-Content > p {
    line-height: 1.25em;
    font-size: 1.25rem;
    color: #474747;
    font-family: monospace;
    font-weight: 500;
 }

.Card > img  {
    max-width: 100%;
}

/* 
.Card-Text-Container {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.Card-Subtitle-Text-Contract {
    color: #8d8d8d;
    line-height: 1.5em;
    font-size: 1rem;
    font-weight: 400;
    margin-top:1em;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 90%;
}

.Card-Subtitle-Text-Expanded {
    color: #8d8d8d;
    line-height: 1.5em;
    font-size: 1rem;
    font-weight: 400;
    margin-top:1em;
    margin-bottom: 0.5rem;
    width: 90%;
}

.Card-Subtitle-Button-Contract {
    font-size: 1rem;
    font-family: monospace;
    width: 10%;
    margin-top: 1.2em;
    background-color: transparent;
    padding: 0;
    border-color: transparent;
    color: #8d8d8d;
}

.Card-Subtitle-Button-Expanded {
    font-size: 1rem;
    font-family: monospace;
    width: 10%;
    margin-top: 1em;
    background-color: transparent;
    padding: 0;
    transform: rotate(180deg);
    border: none;
}

.Card-Button-Open-Modal {
    color:#255D68;
    text-transform: uppercase;
    margin-top: 1em;
    background-color: transparent;
    padding: 0;
    border: none;
}

.Card-Button-Open-Modal:hover {
    text-decoration: underline;
} */
